<!DOCTYPE html>
<html>

<head>
    <title>
        <%= titulo %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= titulo %>
    </h1>
    <p>Welcome to
        <%= titulo %>
    </p>





    <h3>Listado de productos disponibles/h3>
        <p>-------------------------------</p>
        <% anuncios.forEach(function(anuncios) { %>
            <h2>Producto</h1>
                <p>
                    Nombre:
                    <%= anuncios.name %>
                </p>
                <p>
                    Está a la venta:
                    <%= anuncios.sell %>
                </p>
                <p>
                    Precio:
                    <%= anuncios.price %>
                </p>
                <p>
                    Foto:
                    <div><img src="<%=anuncios.photo %>" alt=""></div>
                </p>
                <p>
                    Tag :
                    <%= anuncios.tag %>
                </p>
                <p>-------------------------------</p>
                <% }) %>


</body>

</html>